*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #fafafa;
  font-size: 1.4rem;
  font-family: "Epilogue", sans-serif;
  line-height: 1.5;
  color: #141414;
}

.nav {
  padding: 1em;
}
.nav__title a {
  font-size: 3rem;
  text-decoration: none;
  color: #141414;
}
.nav__btns {
  position: fixed;
  top: 1.8em;
  right: 1em;
  z-index: 10;
}
.nav__btns button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.nav__btns--open, .nav__btns--close {
  display: none;
}
.nav__btns .active {
  display: block;
}
.nav__list, .nav__list--nested {
  list-style-type: none;
}
.nav__list {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  padding: 4em 1em;
  background: #fafafa;
  transform: translateX(200%);
  transition: transform 0.5s ease-in-out;
  z-index: 5;
}
.nav__list-item {
  margin: 0.8em 0;
  color: #696969;
  cursor: pointer;
  transition: color 0.3s;
}
.nav__list-item:last-of-type {
  margin-top: 1.3em;
}
.nav__list-item .dropdown-arrow {
  margin-left: 0.8em;
}
.nav__list-item .dropdown-arrow path {
  transition: stroke 0.3s;
}
.nav__list-item:hover, .nav__list-item:focus {
  color: #141414;
}
.nav__list-item:hover > .dropdown-arrow > path, .nav__list-item:focus > .dropdown-arrow > path {
  stroke: #141414;
}
.nav__list-item .rotated {
  transform: rotate(180deg);
}
.nav__list--nested {
  height: 0;
  margin-top: 0.5em;
  color: #696969;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: height 0.15s, transform 0.3s, opacity 0.3s;
}
.nav__list--nested-item {
  margin: 0.8em 0 0.8em 1.2em;
  transition: color 0.3s;
}
.nav__list--nested-item:first-of-type {
  margin: 0 0 0 1.2em;
}
.nav__list--nested-item:hover, .nav__list--nested-item:focus {
  color: #141414;
}
.nav__login {
  display: flex;
  flex-direction: column;
}
.nav__login a {
  width: 100%;
  margin: 0.2em 0;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  color: #696969;
  transition: color 0.3s;
}
.nav__login a:hover, .nav__login a:focus {
  color: #141414;
}
.nav__login--register {
  border: 1px solid #141414;
  border-radius: 10px;
}
.nav .nav-active {
  transform: translateX(0);
}
.nav .list-active {
  height: -moz-fit-content;
  height: fit-content;
  transform: scaleY(1);
  opacity: 1;
}
.nav .shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(20, 20, 20, 0.6117647059);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}
.nav .shadow-active {
  opacity: 1;
  z-index: 3;
}

.main__hero-image--mobile {
  width: 100%;
}
.main__hero-image--desktop {
  display: none;
}
.main__content {
  padding: 2em 0.8em 5em;
  text-align: center;
}
.main__content-title {
  font-size: 3rem;
}
.main__content-info {
  margin-bottom: 2em;
  color: #696969;
}
.main__content-link {
  padding: 0.8em 1.5em;
  background-color: #141414;
  border: 1px solid #141414;
  border-radius: 10px;
  text-decoration: none;
  color: #fafafa;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.main__content-link:hover {
  background-color: #fafafa;
  color: #141414;
}
.main__content-clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}
.main__content-clients-logo {
  width: 20%;
}

@media (min-width: 992px) {
  .nav {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1400px;
    padding: 1em 2em;
  }
  .nav__title a {
    margin-right: 2em;
  }
  .nav__btns {
    display: none;
  }
  .nav__list {
    position: static;
    display: flex;
    padding: 0;
    transform: none;
  }
  .nav__list-item {
    position: relative;
    margin: 0 2.5em 0 0;
  }
  .nav__list-item:last-of-type {
    margin: 0 2.5em 0 0;
  }
  .nav__list .parent-li {
    position: relative;
  }
  .nav__list--nested {
    position: absolute;
    right: 0;
    width: 150px;
    padding: 1em 1.5em;
    margin-top: 0.5em;
    background: #fafafa;
    border-radius: 1rem;
    box-shadow: 1px 3px 25px -6px #696969;
    font-size: 1.4rem;
  }
  .nav__list--nested-item {
    margin: 0.5em 0;
  }
  .nav__list--nested-item:first-of-type, .nav__list--nested-item:last-of-type {
    margin: 0;
  }
  .nav .company {
    left: 0;
  }
  .nav__login {
    position: absolute;
    right: 1.5em;
    top: 50%;
    flex-direction: row;
    transform: translateY(-50%);
  }
  .nav__login a {
    margin: 0 0.5em;
    padding: 0.3em 1.3em;
  }
  .nav .shadow {
    display: none;
  }
}
@media (min-width: 1200px) {
  .wrapper--main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    padding: 2em 0;
    background-color: #fafafa;
  }
  .main__hero {
    width: 50%;
    margin-left: 8em;
    order: 1;
  }
  .main__hero-image--mobile {
    display: none;
  }
  .main__hero-image--desktop {
    display: block;
    width: 100%;
  }
  .main__content {
    text-align: left;
  }
  .main__content-title {
    font-size: 8rem;
    line-height: 1;
  }
  .main__content-info {
    width: 65%;
    margin-bottom: 3em;
  }
  .main__content-clients {
    margin-top: 5em;
  }
  .main__content-clients-logo {
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .wrapper--nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    padding: 6em 0;
  }
}/*# sourceMappingURL=style.css.map */