@media (min-width: 992px) {
	.nav {
		position: relative;
		display: flex;
		align-items: center;
		max-width: 1400px;
		padding: 1em 2em;

		&__title {
			a {
				margin-right: 2em;
			}
		}

		&__btns {
			display: none;
		}

		&__list {
			position: static;
			display: flex;
			padding: 0;
			transform: none;

			&-item {
				position: relative;
				margin: 0 2.5em 0 0;

				&:last-of-type {
					margin: 0 2.5em 0 0;
				}
			}

			.parent-li {
				position: relative;
			}
		}

		&__list--nested {
			position: absolute;
			right: 0;
			width: 150px;
			padding: 1em 1.5em;
			margin-top: 0.5em;
			background: colors.$almost-white;
			border-radius: 1rem;
			box-shadow: 1px 3px 25px -6px colors.$medium-gray;
			font-size: 1.4rem;

			&-item {
				margin: 0.5em 0;

				&:first-of-type,
				&:last-of-type {
					margin: 0;
				}
			}
		}

		.company {
			left: 0;
		}

		&__login {
			position: absolute;
			right: 1.5em;
			top: 50%;
			flex-direction: row;
			transform: translateY(-50%);

			a {
				margin: 0 0.5em;
				padding: 0.3em 1.3em;
			}
		}

		.shadow {
			display: none;
		}
	}
}

@media (min-width: 1200px) {
	.wrapper {
		&--main {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.main {
		display: flex;
		justify-content: center;
		max-width: 1000px;
		padding: 2em 0;
		background-color: colors.$almost-white;

		&__hero {
			width: 50%;
			margin-left: 8em;
			order: 1;

			&-image {
				&--mobile {
					display: none;
				}

				&--desktop {
					display: block;
					width: 100%;
				}
			}
		}

		&__content {
			text-align: left;

			&-title {
				font-size: 8rem;
				line-height: 1;
			}

			&-info {
				width: 65%;
				margin-bottom: 3em;
			}

			&-clients {
				margin-top: 5em;

				&-logo {
					width: 20%;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	.wrapper {
		&--nav {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.main {
		padding: 6em 0;
	}
}
